In [1]:
import pandas as pd
import ast
from datetime import date
import warnings
warnings.filterwarnings("ignore")
today = date.today().strftime("%d-%m-%Y")
missing_values = ["NaN", "Nan", " ", ""]
df = pd.read_csv(f"/Users/bhargavmukhami/Desktop/Stock_Prediction_Project/stock_data_fundamental/stock(18-02-2024).csv", na_values=missing_values)
df = df.fillna(0)

In [2]:
# Data Cleaning

for i in range(len(df)):
    if isinstance(df["Market Cap"][i], str):
        df["Market Cap"][i] = float(df["Market Cap"][i].replace(",", ""))
    if isinstance(df["Compounded Sales Growth"][i], str):
        if df["Compounded Sales Growth"][i].rstrip("%") != "":
            df["Compounded Sales Growth"][i] = float(df["Compounded Sales Growth"][i].rstrip("%"))
    if isinstance(df["Compounded Profit Growth"][i], str):
        if df["Compounded Profit Growth"][i].rstrip("%") != "":
            df["Compounded Profit Growth"][i] = float(df["Compounded Profit Growth"][i].rstrip("%"))
    if len(ast.literal_eval(df["Promoter holding"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["Promoter holding"][i]):
            if j.rstrip("%") != "":
                l.append(float(j.rstrip("%")))
        df["Promoter holding"][i] = l
    else:
        df["Promoter holding"][i] = []
    if len(ast.literal_eval(df["FIIs"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["FIIs"][i]):
            if j.rstrip("%") != "":
                l.append(float(j.rstrip("%")))
        df["FIIs"][i] = l
    else:
        df["FIIs"][i] = []
    if len(ast.literal_eval(df["DIIs"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["DIIs"][i]):
            if j.rstrip("%") != "":
                l.append(float(j.rstrip("%")))
        df["DIIs"][i] = l
    else:
        df["DIIs"][i] = []
    if len(ast.literal_eval(df["Public"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["Public"][i]):
            if j.rstrip("%") != "":
                l.append(float(j.rstrip("%")))
        df["Public"][i] = l
    else:
        df["Public"][i] = []
    if len(ast.literal_eval(df["np_quarterly"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["np_quarterly"][i]):
            l.append(float(j.replace(",", "")))
        df["np_quarterly"][i] = l
    else:
        df["np_quarterly"][i] = []
    if len(ast.literal_eval(df["np_yearly"][i])) > 0:
        l = []
        for j in ast.literal_eval(df["np_yearly"][i]):
            l.append(float(j.replace(",", "")))
        df["np_yearly"][i] = l
    else:
        df["np_yearly"][i] = []
    df["ROE"][i] = float(str(df["ROE"][i]).replace(",", ""))
    df["ROCE"][i] = float(df["ROCE"][i])
    df["Stock P/E"][i] = float(str(df["Stock P/E"][i]).replace(",", ""))
df

,SYMBOL,Market Cap,Current Price,High / Low,Stock P/E,Book Value,Dividend Yield,ROCE,ROE,Face Value,...,np_yearly,Compounded Sales Growth,Compounded Profit Growth,CWIP,Cash from Operating Activities,Debtor Days,Promoter holding,FIIs,DIIs,Public
0,20MICRONS,545.0,154,201/62.8,10.3,91.1,0.49,19.30,15.3,5.00,...,"[11.0, 5.0, -2.0, -2.0, 11.0, 16.0, 19.0, 25.0...",5.0,22.0,"['37', '4', '9', '7', '4', '7', '8', '4', '11'...","['13', '45', '37', '30', '25', '44', '61', '53...","['64', '62', '65', '51', '57', '56', '57', '53...","[44.3, 43.36, 44.03, 44.83, 44.83, 44.83, 44.8...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.07, 0.93, 0.72]","[0.03, 0.37, 0.11, 0.0, 0.0, 0.0, 0.0, 0.0]","[55.67, 56.27, 55.86, 55.17, 55.17, 54.1, 54.2..."
1,21STCENMGM,50.1,47.7,48.4/16.5,6.49,26.4,0.00,-57.70,-70.6,10.0,...,"[-10.99, -5.75, -0.64, -6.95, -5.95, -32.08, -...",-212.0,139.0,[],"['3.28', '0.95', '-12.37', '27.35', '-9.37', '...","['18,499.74', '12,168.84', '7,339.18', '322.24...","[46.04, 50.99, 55.23, 55.87, 60.63, 60.82, 61....","[0.0, 0.0, 0.35, 0.0, 0.0, 0.0, 0.35, 0.0]","[0.5, 1.88, 0.15, 0.5, 0.5, 0.5, 0.15, 0.0]","[53.47, 47.13, 44.27, 43.63, 38.88, 38.68, 37...."
2,360ONE,24826.0,692,735/395,34.6,91.1,2.49,13.40,21.4,1.00,...,"[380.0, 375.0, 201.0, 369.0, 578.0, 658.0, 717.0]",17.0,7.0,"['22', '173', '1', '2', '0', '39', '0']","['-2,772', '1,852', '1,628', '463', '929', '-1...","['42', '68', '58', '50', '47', '57']","[22.93, 22.92, 23.14, 22.02, 17.78]","[20.06, 24.2, 22.13, 64.83, 62.48]","[1.34, 2.04, 3.57, 2.22, 8.87]","[55.67, 50.84, 51.17, 10.94, 10.86]"
3,3IINFOLTD,899.0,53.2,63.9/25.9,0.0,25.2,0.00,2.59,0.45,10.0,...,"[-357.0, -503.0, -357.0, -976.0, -552.0, 94.0,...",13.0,-245.0,[],"['-154', '49', '50', '-51', '199', '129', '93'...","['99', '60', '59', '49', '58', '74', '78', '80...",[],"[3.42, 0.37, 0.23, 0.07, 0.08, 0.25, 0.68, 0.73]","[48.89, 38.59, 34.62, 32.24, 22.68, 10.95, 10....","[47.69, 61.04, 65.15, 67.69, 77.24, 88.8, 88.5..."
4,3MINDIA,34821.0,"30,897","39,876/21,600",63.7,"1,634",0.32,31.40,23.4,10.0,...,"[333.0, 366.0, 322.0, 162.0, 272.0, 451.0, 546.0]",8.0,28.0,"['6', '12', '7', '24', '23', '25', '7']","['36', '253', '245', '321', '327', '465']","['77', '71', '65', '68', '58', '59']","[75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75.0]","[9.18, 9.17, 8.29, 4.85, 3.76, 4.25, 3.72, 3.56]","[2.54, 2.05, 2.22, 4.42, 7.64, 6.54, 7.93, 8.52]","[13.28, 13.78, 14.49, 15.73, 13.6, 14.21, 13.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,ZOTA,1232.0,477,533/270,0.0,39.5,0.21,-2.32,-7.42,10.0,...,"[2.0, 2.0, 3.0, 4.0, 6.0, 3.0, -0.0, 9.0, -6.0...",25.0,-155.0,"['0', '0', '0', '0', '2', '0', '0', '0', '3', ...","['', '', '3', '5', '-3', '6', '-1', '13', '-2']","['75', '71', '79', '77', '95', '112', '99', '1...",[],[],[],[]
1923,ZUARI,924.0,220,260/116,3.0,379,0.00,10.20,12.8,10.0,...,"[181.0, 74.0, -57.0, 14.0, -123.0, -13.0, 146....",23.0,254.0,"['50', '134', '282', '424', '102', '143', '147...","['-1,922', '', '919', '839', '-869', '1,097', ...","['166', '201', '188', '159', '197', '198', '17...",[],"[0.41, 1.63, 2.21, 0.97, 0.9, 1.01, 1.13, 1.58]","[10.06, 9.29, 8.08, 5.16, 3.06, 1.42, 1.0, 1.0]","[23.46, 23.01, 24.66, 28.62, 30.76, 32.24, 32...."
1924,ZUARIIND,804.0,270,305/104,90.5,861,0.37,10.70,11.4,10.0,...,"[-220.0, 11.0, -1.0, -26.0, -38.0, -20.0, -41....",-8.0,-96.0,[],"['-258', '-3', '-158', '-288', '-12', '109', '...","['14', '81', '75', '69', '62', '56', '86', '49...",[],"[0.0, 0.25, 0.74, 1.21, 1.21, 1.39, 1.3, 1.49]","[13.48, 14.21, 11.58, 10.66, 7.82, 0.2, 0.01, ...","[30.21, 29.23, 32.85, 33.29, 35.32, 41.42, 41...."
1925,ZYDUSLIFE,90278.0,892,894/452,27.6,185,0.67,15.00,13.7,1.00,...,"[681.0, 690.0, 836.0]",17.0,57.0,"['484', '736', '892', '798', '951', '1,543', '...","['511', '603', '903', '994', '1,894', '1,312',...","['64', '55', '57', '67', '68', '89', '98', '11...",[],"[9.88, 8.7, 8.12, 4.41, 5.23, 2.53, 3.42, 4.99]","[7.11, 7.94, 9.06, 12.9, 11.3, 12.83, 13.51, 1...","[8.07, 8.4, 7.9, 7.67, 8.4, 9.69, 8.01, 6.99]"
1926,ZYDUSWELL,10160.0,"1,597","1,721/1,390",35.9,818,0.31,5.93,6.4,10.0,...,"[69.0, 99.0, 98.0, 111.0, 105.0, 111.0, 137.0,...",4.0,-6.0,"['0', '0', '0', '0', '0', '0', '0', '10', '4',...","['62', '69', '91', '69', '90', '77', '69', '14...","['1', '1', '2', '1', '3', '3', '6', '42', '24'...",[],"[7.86, 5.99, 3.65, 3.3, 2.76, 2.56, 3.87, 3.25]","[5.94, 8.07, 7.06, 21.51, 24.96, 25.11, 22.18,...","[13.66, 13.25, 21.67, 7.37, 7.46, 7.51, 7.51, ..."

In [16]:
# Query

final = []
for i in range(len(df)):
    if (5000 < df["Market Cap"][i] < 20000):
        if (5 < df["Stock P/E"][i] < 30):
            if (len(df["Promoter holding"][i]) > 0 or len(df["Promoter holding"][i]) == 0):
                if (len(df["Promoter holding"][i]) == 0 or df["Promoter holding"][i][-1] > 50):
                    if (df["ROE"][i] > df["Stock P/E"][i]):
                        if (df["ROCE"][i] > df["Stock P/E"][i]):
                            if (len(df["np_quarterly"][i]) > 1):
                                if (df["np_quarterly"][i][-1] > df["np_quarterly"][i][-2]):
                                    if (len(df["np_yearly"][i]) > 1):
                                        if (df["np_yearly"][i][-1] > df["np_yearly"][i][-2]):
                                            final.append(df["SYMBOL"][i])
final

['ABSLAMC',
 'ACI',
 'CHAMBLFERT',
 'ECLERX',
 'GMDCLTD',
 'GODFRYPHLP',
 'GRAVITA',
 'HGINFRA',
 'MAHSEAMLES',
 'NAVA',
 'RAYMOND',
 'REDINGTON',
 'SHAREINDIA',
 'SURYAROSNI']

In [15]:
# Query

final = []
for i in range(len(df)):
    if (1000 < df["Market Cap"][i] < 10000):
        if (df["Stock P/E"][i] < 10):
            if (len(df["Promoter holding"][i]) > 0 or len(df["Promoter holding"][i]) == 0):
                if (len(df["Promoter holding"][i]) == 0 or df["Promoter holding"][i][-1] > 45):
                    if (df["ROE"][i] > 20):
                        if (df["ROCE"][i] > 20):
                            if (len(df["np_quarterly"][i]) > 1):
                                if (df["np_quarterly"][i][-1] > df["np_quarterly"][i][-2]):
                                    if (len(df["np_yearly"][i]) > 1):
                                        if (df["np_yearly"][i][-1] > df["np_yearly"][i][-2]):
                                            final.append(df["SYMBOL"][i])
final

['BCG', 'CLSEL']

In [ ]:
"""
query_stocks = list(df["SYMBOL"])

while(True):
    parameter = input("Enter parameter : ")
    if (parameter == ""):
        break
    operator = input("Enter >, =, < : ")
    number_parameter = input("Enter parameter or number : ")
    if number_parameter.isdigit():
        if operator == "<":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) < float(number_parameter):
                            final.append(df["SYMBOL"][j])
        if operator == "=":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) == float(number_parameter):
                            final.append(df["SYMBOL"][j])
        if operator == ">":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) > float(number_parameter):
                            final.append(df["SYMBOL"][j])
    else:
        if operator == "<":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) < float(df[number_parameter][j]):
                            final.append(df["SYMBOL"][j])
        if operator == "=":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) == float(df[number_parameter][j]):
                            final.append(df["SYMBOL"][j])
        if operator == ">":
            for i in query_stocks:
                for j in range(len(df)):
                    if df["SYMBOL"][j] == i:
                        if float(df[parameter][j]) > float(df[number_parameter][j]):
                            final.append(df["SYMBOL"][j])
    query_stocks = final
print(final)
"""

'\nquery_stocks = list(df["SYMBOL"])\n\nwhile(True):\n    parameter = input("Enter parameter : ")\n    if (parameter == ""):\n        break\n    operator = input("Enter >, =, < : ")\n    number_parameter = input("Enter parameter or number : ")\n    if number_parameter.isdigit():\n        if operator == "<":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) < float(number_parameter):\n                            final.append(df["SYMBOL"][j])\n        if operator == "=":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) == float(number_parameter):\n                            final.append(df["SYMBOL"][j])\n        if operator == ">":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) > float(number_parameter):\n                            final.append(df["SYMBOL"][j])\n    else:\n        if operator == "<":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) < float(df[number_parameter][j]):\n                            final.append(df["SYMBOL"][j])\n        if operator == "=":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) == float(df[number_parameter][j]):\n                            final.append(df["SYMBOL"][j])\n        if operator == ">":\n            for i in query_stocks:\n                for j in range(len(df)):\n                    if df["SYMBOL"][j] == i:\n                        if float(df[parameter][j]) > float(df[number_parameter][j]):\n                            final.append(df["SYMBOL"][j])\n    query_stocks = final\nprint(final)\n'